[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]



[dev-packages]

async-timeout = "==3.0.0"
pytest = "*"
pycodestyle = "*"
pytest-aiohttp = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-codestyle = "*"
pytest-mypy = "*"
pyyaml = "*"
jupyter = "*"
crontab = "<0.22"
httptools = "*"
isort = "*"
ipykernel = "*"
