[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
pytest = "*"
pytest-aioworkers = "*"
pytest-mock = "*"
pytest-sugar = "*"
pytest-timeout = "*"
pyyaml = "*"
crontab = "*"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest-cov = "*"
jupyter = "*"
httptools = "*"
setproctitle = "*"
msgpack = "*"
bson = "*"
