[[source]]

name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]



[dev-packages]

pytest = "==4.1.1"
flake8 = "*"
pytest-aiohttp = "==0.3.0"
pytest-mock = "==1.10.0"
pytest-cov = "==2.6.1"
pytest-flake8 = "*"
pytest-codestyle = "*"
pytest-mypy = "*"
pyyaml = "==3.13"
jupyter = "*"
crontab = "<0.22"
httptools = "*"
isort = "*"
ipykernel = "*"
