name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/aioworkers/${{ github.ref_name }}
    steps:
    - uses: actions/checkout@v4.2.1
    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade hatch
    - name: Build
      run: |
        hatch version $GITHUB_REF_NAME
        hatch build
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist
    - name: Publish
      env:
        HATCH_INDEX_USER: __token__
        HATCH_INDEX_AUTH: ${{ secrets.HATCH_INDEX_AUTH }}
      run: |
        hatch publish
